@font-face {
  font-family: "iconfont"; /* Project id 4259638 */
  src: url('font/iconfont.woff2?t=1695134297853') format('woff2'),
       url('font/iconfont.woff?t=1695134297853') format('woff'),
       url('font/iconfont.ttf?t=1695134297853') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fasong:before {
  content: "\e600";
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-tianchongxing-:before {
  content: "\e638";
}

img{
  max-width: 100%;
}
.hello{
  color: red;
  font-family: 'iconfont';
  background: url('./pic2.png') no-repeat center;
}
